
*.sln
*.lock
*.ide
*.ide-shm
*.ide-wal
.vs/SemiAutoHotKey/v15/.suo
SemiAutoHotKey/bin/Debug/SemiAutoHotKey.exe.config
SemiAutoHotKey/bin/Debug/SemiAutoHotKey.pdb
*.pdb
SemiAutoHotKey/bin/Debug/WindowsInput.xml
*.cache
*.CopyComplete
*.csproj
*.settings
SemiAutoHotKey/obj/Debug/SemiAutoHotKey.csproj.FileListAbsolute.txt
*.resources
SemiAutoHotKey/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SemiAutoHotKey/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SemiAutoHotKey/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SemiAutoHotKey/Properties/AssemblyInfo.cs
SemiAutoHotKey/Properties/Resources.Designer.cs
SemiAutoHotKey/Properties/Resources.resx
SemiAutoHotKey/Properties/Settings.Designer.cs
SemiAutoHotKey/App.config
SemiAutoHotKey/MainForm.resx
SemiAutoHotKey/obj/Debug/SemiAutoHotKey.exe
